main h2 {
    font-size: 3.5rem;
    text-align: center;
    text-decoration: underline;
    padding: 10rem;
}
main h3 {
    padding: 1rem;
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}
main p {
    font-size: 1.7rem;
    text-align: center;
}

th, td {
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.7rem;
    padding: 1rem;
    background-color: white;
    color: black;
}

dt {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

dd {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.5rem;
}

