
.preview-block{
    background-image: url("../img/background5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.content h2 {
    font-size: 3.5rem;
    text-align: center;
    text-decoration: underline;
    padding: 10rem;
}
.content a {
    color: white;
}
main h3 {
    padding: 1rem;
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}
main p {
    font-size: 1.7rem;
    text-align: center;
}

/*table*/
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th{
    font-size: 2rem;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    padding: 1rem;
}
td{
    padding: 1rem;
    font-size: 1.3rem;
    border-bottom: 1px solid whitesmoke;
}


/*list*/
dt {

    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

dd {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.5rem;
}

